<tr>
  <td style="display: none;">{{ID}}</td>
  <td>{{Name}}</td>
  <td>{{Manufacturer}}</td>
  <td>{{PartNumber}}</td>
  <td>{{Category}}</td>
  <td>{{Price}}</td>
  <td>{{Quantity}}</td>
  <td><button onclick="deletePart(this)">Удалить</button></td>
  <td><button onclick="changeEditState(this)">Изменить</button></td>
</tr> 